<div layout="column" layout-padding ng-cloak>

    <div layout="row" layout-xs="column" layout-align="start center" layout-padding>
        <div>
            <img mod-img-src="bulksms.png"/>
        </div>
        <div>
            <p><a href="http://www.bulksms.com/" target="_blank">BulkSms</a> is an international sms gateway. It allows Cleep to send you alerts by sms.</p>
            <p>Please create an account first and fill informations below.</p>
            <p>You can find <a href="http://www.bulksms.com/pricing/" target="_blank">sms rates here</a>.</p>
        </div>
    </div>

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Username</label>
            <input type="text" ng-model="bulksmsCtl.username"></input>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>Password</label>
            <input type="password" ng-model="bulksmsCtl.password"></input>
        </md-input-container>
        <md-input-container class="md-block" flex-gt-sm>
            <label>International phone numbers (coma separated)</label>
            <input type="text" ng-model="bulksmsCtl.phoneNumbers"></input>
        </md-input-container>
        <div>
            <md-button class="md-raised md-primary" ng-click="bulksmsCtl.setCredentials()" aria-label="Save">Save</md-button>
        </div>
    </div>

    <div layout-gt-sm="row">
        <md-input-container class="md-block" flex-gt-sm>
            <label>Remaining credits</label>
            <input type="text" ng-model="bulksmsCtl.credits" disabled>
        </md-input-container>
        <div>
            <md-button class="md-raised md-primary" ng-click="bulksmsCtl.getCredits()" aria-label="Refresh">Refresh</md-button>
        </div>
    </div>

</div>

